:root {
  --spacing: 2.3rem;
  --radius: 10px;
  --listitemcolor: #ccc;
  --expandcolor: #295376;
}

/* Clear default layout parameters */
.tree, 
.tree ul,
.tree [role="group"] {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

ul[role="tree"] li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

li[role="treeitem"] [role="group"] {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

li[role="treeitem"] {
  line-height: 1.3em;
  border-left: 2px solid var(--listitemcolor);
  cursor: default;
}

ul[role="tree"] > li[role="treeitem"] {
  border-left-color: transparent;
}

li[role="treeitem"]:last-child {
  border-color: transparent;
}

/* Tree Connecting Lines (L-shape) */
li[role="treeitem"]::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: 2px solid var(--listitemcolor);
  border-width: 0 0 2px 2px;
}

ul[role="tree"] > li[role="treeitem"]::before {
  display: none;
}

.tree li::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  /* Adjust left to change circle spacing and positioning */
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: var(--listitemcolor);
  z-index: 3;
}

.tree li:has(> span.tree-title)::after,
.tree li.tree-parent::after {
  display: none;
}

.tree li .wb-inv {
  display: none !important;
}

li[role="treeitem"] span.tree-title {
  display: inline-flex !important;
  align-items: center;
  cursor: pointer;
  line-height: 1.2em;
  white-space: nowrap;
  font-weight: 501;
  margin-left: calc(-1 * (var(--spacing) - var(--radius) + 17px));
  padding: 0.35em 0.6em 0.35em calc(var(--spacing) - var(--radius) + 12px);
  border-radius: 4px;
  position: relative;
  z-index: 2;
}

.tree li span.tree-title:hover {
  background-color: var(--expandcolor);
  color: #ffffff;
/*  font-weight: 500; */
}

li[role="treeitem"] a.page-link {
  display: inline-flex !important;
  align-items: center;
  cursor: pointer;
  line-height: 1.2em;
  white-space: nowrap;
  /* Adjust left to change link spacing and positioning */
  margin-left: calc(-1 * (var(--spacing) - var(--radius) - 15px));
  padding: 0.35em 0.6em;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  text-decoration: underline;
}

li[role="treeitem"] a.page-link:visited {
  color: #551a8b;
}

.tree li a.page-link:hover {
  background-color: #eaebed;
  color: #0000ee;
}

[role="treeitem"] span.tree-title:focus,
[role="treeitem"] a.page-link:focus {
  outline: 0;
}

[role="treeitem"] span.tree-title.focus,
[role="treeitem"] a.page-link.focus,
[role="treeitem"] span.tree-title:focus-visible,
[role="treeitem"] a.page-link:focus-visible {
  outline: 1px dotted #000;
}

/* --- FontAwesome Folder Icons --- */
li[role="treeitem"] > span.tree-title::before {
  font-family: "Segoe UI Emoji";
  font-weight: 900;
  color: #26374a;
  position: absolute;
  left: calc(var(--spacing) - var(--radius) - 21px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff; 
  padding: 2px;
}

/* Closed Folder State */
li[role="treeitem"][aria-expanded="false"] > span.tree-title::before {
  content: "\1f4c1";
}

/* Open Folder State */
li[role="treeitem"][aria-expanded="true"] > span.tree-title::before {
  content: "\1f4c2";
}

@supports (font-family: "Wingdings") {
  li[role="treeitem"] > span.tree-title::before {
    font-family: "Wingdings";
  }

  /* Closed Folder State */
  li[role="treeitem"][aria-expanded="false"] > span.tree-title::before {
    content: "\0030";
  }

  /* Open Folder State */
  li[role="treeitem"][aria-expanded="true"] > span.tree-title::before {
    content: "\0030";
  }
}

@supports (font-family: "Font Awesome 5 Free") {
  li[role="treeitem"] > span.tree-title::before {
    font-family: "Font Awesome 5 Free";
  }

  /* Closed Folder State */
  li[role="treeitem"][aria-expanded="false"] > span.tree-title::before {
    content: "\f07b";
  }

  /* Open Folder State */
  li[role="treeitem"][aria-expanded="true"] > span.tree-title::before {
    content: "\f07c";
  }
}

.tree li span.tree-title:hover::before {
  background-color: transparent;
  color: #ffffff;
}

li[role="treeitem"][aria-expanded="false"] + [role="group"], 
li[role="treeitem"][aria-expanded="false"] > [role="group"],
li[role="treeitem"][aria-expanded="false"] > ul {
  display: none !important;
}

li[role="treeitem"][aria-expanded="true"] + [role="group"], 
li[role="treeitem"][aria-expanded="true"] > [role="group"],
li[role="treeitem"][aria-expanded="true"] > ul {
  display: block !important;
}
